<div class="conteiner">
  <nav>
    <ul>
      <li id="boton-menu">
        <ul>
          <li (click)="botonDezplegable()"><a>Menu</a></li>
        </ul>
      </li>
      <li id="menu-dezplegable">
        <ul>
          <li (click)="botonCategoria()"><a [routerLink]="['/']">Inicio</a></li>
          <li (click)="botonCategoria()"><a [routerLink]="['/products/all']">Productos</a></li>
          <li id="boton-categorias" (click)="botonCategorias()"><a>Categorias</a></li>
          <li id="menu-categorias">
            <ul>
              <li (click)="botonCategoria()"><a [routerLink]="['/products/Cuadernillos']" class="botonCategoria">Cuadernillos</a></li>
              <li (click)="botonCategoria()"><a [routerLink]="['/products/Resaltadores']" class="botonCategoria">Resaltadores</a></li>
              <li (click)="botonCategoria()"><a [routerLink]="['/products/Marcadores']" class="botonCategoria">Marcadores</a></li>
            </ul>
          </li>
          <li *ngIf="access" (click)="botonCategoria()"><a [routerLink]="['/addProduct']">Añadir Productos</a></li>
          <li id="trolley" (click)="botonCategoria()">
            <a [routerLink]="['/trolley']">
              ({{trolley.length}})
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li id="botonLogin">
        <a (click)="botonLogin()">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <login id="login"></login>
  <div id="footer"></div>
</div>